	<!--  stat page title  -->
	<section class="page_title">
			<h1 class="title">About SongAh</h1>
	</section>
	<!--  end page title  -->


	<!--  start about section  -->
	<section class="about clearfix">
		<div class="wrapper">
			<p class="intro">Integer pharetra tellus varius dictum erat vel, maximus tellus Sed vitae auctor ipsum. Aliquam luctus erat nec pulvinar vehicula. Donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent tincidunt mi orci, in sollicitudin mi dapibus dapibus.</p>

			<div class="columns clearfix">
				<div class="col_1 col_left">
					<h2>Quisque malesuada ornare.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et nibh malesuada fames ac turpis egestas. Nullam uam  mi vel ornare tristique, urna mi tempus quam, euismod ligula ipsum vulputate tellus. Quisque dictum tortor at purus faucibus tincidunt.</p>
				</div>
				<div class="col_1 col_right">
					<h2>Pelesque habitant morbi.</h2>
					<p>Pellentesque habitant morbi tristique senectus et netus et nibh malesuada fames ac turpis egestas. Nullam uam  mi vel ornare tristique, urna mi tempus quam, euismod ligula ipsum vulputate tellus. Quisque dictum tortor at purus faucibus tincidunt.</p>
				</div>
			</div>
		</div>
	</section>
	<!--  end about section  -->


	<!--  start team section  -->
	<section class="team">
		<div class="wrapper clearfix">
			<h2 class="title">Our Work</h2>
			<ul>
				<li>
					<div class="team_pic text-center">
						<%= image_tag "team_pic.jpg" %>
					</div>
					<h3 class="team_name">John Doe</h3>
					<h4 class="team_job">Founder & Creative Director</h4>
				</li>
				<li>
					<div class="team_pic">
						<%= image_tag "team_pic.jpg" %>
					</div>
					<h3 class="team_name">Jane Doe</h3>
					<h4 class="team_job">Account Manager</h4>
				</li>
				<li>
					<div class="team_pic">
						<%= image_tag "team_pic.jpg" %>
					</div>
					<h3 class="team_name">Sara Doe</h3>
					<h4 class="team_job">Junior Designer</h4>
				</li>
			</ul>
		</div>
	</section>
	<!--  end team section  -->


	<!--  start call to action section  -->
	<section class="cta">
		<h4>Get ready to talk business!</h4>
		<a href="#" class="cta_btn">Get In Touch <%= image_tag "cta_arrow.png" %></a>
	</section>
	<!--  end call to action section  -->
