<!DOCTYPE html>
<html lang="en">
<head>
	<title>Creativs</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
</head>
<body>

	<section class="page_title">
			<h1 class="title">Contact Us</h1>
	</section>

	<section class="contact_info clearfix" style="background:aliceblue">
		<div class="wrapper">
			<h2 class="email">admin@songah.com</h2>
			<h2 class="adress">SongAh Sdn.Bhd<br/>Kuala Lumpur, 52200</h2>
			<h2 class="phone">6012-5288100</h2>
		</div>
	</section>

  <section class="contact_form", style="background:lightblue">
    <div class="wrapper">
      <h2 class="title">Send Us a Message</h2>
      <div class="form">
        <form action="#" method="get">
          <input type="text" id="name" name="name" placeholder="Name" class="name">
          <input type="text" id="email" name="email" placeholder="Email" class="email">
          <input type="text" id="subject" name="subject" placeholder="Subject" class="subject">
          <textarea id="msg" name="msg" placeholder="Message" class="msg"></textarea>
          <input type="submit" value="Send The Message" id="send" class="submit"/>
        </form>
      </div>
    </div>
  </section>

</body>
</html>
