<!DOCTYPE html>
<html lang="en">
<head>
	<title>Creativs</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<!--  stat page title  -->
	<section class="page_title">
			<h1 class="title">Contact Us</h1>
	</section>
	<!--  end page title  -->


	<!--  start contact info section  -->
	<section class="contact_info clearfix">
		<div class="wrapper">
			<h2 class="email">Gaylord@songah.com</h2>
			<h2 class="adress">SongAh Sdn.Bhd<br/>Kuala Lumpur, 52200</h2>
			<h2 class="phone">6012-5288100</h2>
		</div>
	</section>
	<!--  end contact info section  -->


	<!--  start form section  -->
	<section class="contact_form">
		<div class="wrapper">
			<h2 class="title">Send Us a Message</h2>
			<div class="form">
				<form action="#" method="get">
					<input type="text" id="name" name="name" placeholder="Name" class="name">
					<input type="text" id="email" name="email" placeholder="Email" class="email">
					<input type="text" id="subject" name="subject" placeholder="Subject" class="subject">
					<textarea id="msg" name="msg" placeholder="Message" class="msg"></textarea>
					<input type="submit" value="Send The Message" id="send" class="submit"/>
				</form>
			</div>
		</div>
	</section>
	<!--  end form section  -->



	<script type="text/javascript" src="../ga.js"></script>
</body>
</html>
