<div class="users">
  <div class="page-container">
    <div class="background-khai">
      <h1 class="whitefont"> What is your birthdate? </h1>


<%=form_for(:song_search, url: search_path, method: :get, html: { id: "item-show-form" }) do |f| %>
  <%= f.date_field :date, id: "date_field", class: 'date', placeholder: "YYYY-MM-DD" %>
  <%= f.submit "Search", class: "btn btn-default button2" %>
<%end%>

</div>
</div>
</div>
