<div class="musicplayer">
<div class="flexcontainer">
  <div class="musicplaylist">
    <div class="smallitem">
      <%= image_tag "playlist.jpg", class: "playlisttitle"%>
      <hr>

      <h2>


      </h2>
      <h2></h2>
      <h1>Create a new playlist</h1>

      <h2>Playlist A</h2>
      <h2>Playlist B</h2>
      <h1>Create a new playlist</h1>

    </div>
  </div>


  <div class="spotify-embeds">
    <div class="bigitem">


      <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:oosabaj:playlist:2UDe8QqHAXUaLrdb0QsDGE" width="340" height="80" frameborder="0" allowtransparency="true"></iframe></div>
      <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:oosabaj:playlist:51vBEL5eVtII7uIEDltWwB" width="340" height="80" frameborder="0" allowtransparency="true"></iframe></div>
      <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify:user:dembsky:playlist:7qfcDxieRKE6VOFE3YNKbz" width="340" height="80" frameborder="0" allowtransparency="true"></iframe></div>
      <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4qqArAiTPueDxIp7cf87h7" width="340" height="80" frameborder="0" allowtransparency="true"></iframe></div>
    </div>
  </div>
</div>
</div>
