<!-- Begin Playlist -->
<div id="player-container">
  <!-- <div class="information">
    Playlist
    <hr>
  </div>
  <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="0">
    <img src="images/theweatherman.jpg" class="album-art"/>
    <div class="playlist-meta">
      <div class="now-playing-title">Living Proof</div>
      <div class="album-information">Gregory Alan Isakov - The Weatherman</span></div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="1">
    <img src="images/roomsforadelaide.jpg" class="album-art"/>
    <div class="playlist-meta">
      <div class="now-playing-title">Rooms</div>
      <div class="album-information">Mia and Jonah - Rooms For Adelaide</span></div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="amplitude-song-container amplitude-play-pause playlist-item" amplitude-song-index="2">
    <img src="images/thesuburbs.jpeg" class="album-art"/>
    <div class="playlist-meta">
      <div class="now-playing-title">Suburban War</div>
      <div class="album-information">The Arcade Fire - The Suburbs</span></div>
    </div>
    <div style="clear: both;"></div>
  </div> -->
</div>
<!-- End Playlist -->
