.musicplayer{
  *, *:before, *:after {
  }

  html {
    height: 100%;
  }

  .playerspace {
    padding:150px;
  }

  .player {
  font-family: 'Pattaya', sans-serif;
  color: #7d2a2a;
  font-size:25px;
  text-decoration:none;
  }

  .player:hover{
    color: antiquewhite;
  }

  .playlistname{
    color: white;
    font-family: "Indie Flower";
    font-size: 28px;
    text-decoration:none;
  }

  .playlistname:hover {
    color: salmon;
  }

  .playlistspace{
    padding:10px;
  }

  body {
    min-height: 100%;
    background: #000;
    display: flex;
    align-items: center;
  }

  .flexcontainer {
    display: -webkit-flex;
    display: flex;
  }
  .bigitem {
    /* This will be twice as big as the small item. */
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
  }
  .smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }

  .spotify-embeds {
    width: 100%;
    padding: 50px;
    background: black;
    border: solid white;
    border-right-color:black;
  }

  .musicplaylist{
  padding: 50px;
  background-image: url("playlistbg.jpg");
  border: solid white;
  }

  .margintop{
    padding-top:200px;
    font-family:"Pattaya";
  }

  .playlisttitle{
    height: 50px;
    width: 200px;
  }


  .spotify-embed {
    background: #282828;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    iframe {
      display: block;
      transition: opacity 0.125s;
      .js & {
        opacity: 0;

        &.loaded {
          opacity: 1;
        }
      }
    }
  }
}
