<div class="musicplayer">
<div class="flexcontainer">
  <div class="musicplaylist">
    <div class="smallitem">
      <h1>Playlists</h1>
      <hr>
      <h2 style="padding:15px">


      <%@user_playlist.each do |p|%>
        <%=link_to p.playlist_name, playlist_index_path(playlist_id: p.id)%><br>

      <%end%>
      </h2>
      <h2 style="padding:15px">Playlist B</h2>
      <h1 style="padding-top:150px">Create a new playlist</h1>
    </div>
  </div>

  <div class="spotify-embeds">
    <div class="bigitem">

      <%@songs.each do |p|%>

      <%if p.spotify != ""%>
        <div class="spotify-embed">
          <iframe src="https://embed.spotify.com/?uri=<%=p.spotify%>" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
      <%else%>

      <%end%>

      <%end%>
    </div>
  </div>
</div>
</div>
