<div class="musicplayer">
  <div class="flexcontainer">
    <div class="musicplaylist">
      <div class="smallitem">
        <%= image_tag "playlist.jpg", class: "playlisttitle"%>
        <hr>


        <div class="playlistspace">
        <%@user_playlist.each do |p|%>
        <%=link_to p.playlist_name, playlist_index_path(playlist_id: p.id), class:"playlistname"%>
        <hr>
        <%end%>
      </div>
        <br>
        <div class="margintop">
        <%=link_to "Create A New Playlist", new_playlist_path, class:"player"%>
      </div>
      </div>
    </div>

  <div class="spotify-embeds">
    <div class="bigitem">

      <%@songs.each do |p|%>

      <%if p.spotify != ""%>
        <div class="spotify-embed">
          <iframe src="https://embed.spotify.com/?uri=<%=p.spotify%>" width="340" height="80" frameborder="0" allowtransparency="true"></iframe>
        </div>
      <%else%>

      <%end%>

      <%end%>
    </div>
  </div>
</div>
</div>
